<head>
    <title>Add an Entry</title>
</head>

<body>

<h1>How did you sleep last night? To create a new entry, please completely fill out the form below:</h1>

<form method="post" action="/journal_entries">
    <label for="content">Last night I slept:</label>
    <br>
    <br>
    <textarea style="width:auto; height:auto;" id="content" name="content">
    </textarea>
    <br>
    <br>
    <input type="submit" id="submit" value="Publish Entry">
</form>
<br>
<a href="/users/show"><button>Personal Page</button></a>

</body>
