<div class="container">

    <h1 class="text-center">Lucid</h1>
    <h3 class="text-center">---------------------------------------------------------------------------------------</h3>
    <div class="content">
      <br>
      <p>Welcome to Lucid, a<em> dreamer's best friend</em>.
      <br>
      <br>
      <br>
      Exsisting users, please click here:
      <br>
      <a href="/users/login"><button>Login</button></a>
      <br>
      <br>
      New users, please click here: 
      <br>
      <a href="/users/new"><button>Sign Up</button></a>
      </p>
    </div>

 
    <div class="sidebar">
      <h3 class="text-center">Lucid</h3>
      <p>
      LucidApp allows users to catalogue their sleep and journal about their dreams.
      <br>
      <br>
      Getting a good night's rest doesn't have to be a guessing game.
      <br>
      Trust Lucid to help you improve and understand your sleep better.
      </p>
    </div>

  
</div>
